{
	"env": {
		"browser": true,
		"es2021": true,
		"jest/globals": true
	},
	"extends": [
		"eslint:recommended",
		"standard",
		"plugin:@typescript-eslint/recommended",
		"plugin:jest/recommended",
		"plugin:jest/style",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["jest", "@typescript-eslint"],
	"rules": {
		// note you must disable the base rule as it can report incorrect errorsles
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": [
			"error",
			{ "functions": false, "classes": false }
		],
		"jest/no-disabled-tests": "warn",
		"jest/no-focused-tests": "error",
		"jest/no-identical-title": "error",
		"jest/prefer-to-have-length": "warn",
		"jest/valid-expect": "error"
	}
}
